.containerServices{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding-top:13vh;
    width: 100%;
    height: 100%;
}
.headerServices{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0;
    height: 30vh;
    background-size: cover;
    background-position: center center;
    background-image: url("../../img/negocio.jpg");
}
.infoServices{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    height: 100%;
    line-height: 2;
    background-color: #da4737;
}
.mtbServices{
    width: 30%;
    height: auto;
    background-size: cover;
}
.textInfo{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.textInfo p {
    margin-bottom: 18px;
}
.services{
    display: flex;
    width: 100%;
    height: 700px;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.containerBoxServices{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
}

.boxServices{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color: #da4737;
    width: 30%;
    height: 400px;
    text-align: center;
    line-height: 1.5;
    border-radius: 10px;
    padding: 10px;
}
.services02{
    display: flex;
    width: 100%;
    height: 1200px;
    margin-top: 20px;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
}
.services02 h1{
    width: 80%;
}
.boxServices02{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color: #fff;
    width: 30%;
    height: 400px;
    text-align: center;
    line-height: 1.5;
    border-radius: 10px;
    padding: 10px;
    background-color: #da4737;

}
.contrate{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #da4737;
    padding-bottom: 20px;
    padding-top: 25px;
}

.contentLottie{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
    
}

.containerAtendimento{
    width: 100%;
    height: 600px;
    background-image: url("../../img/atendimentoON.jpg");
    background-size: cover;
}

.img_fundo{
    width: 100%;
    height: 100%;
}
.sobre_escura{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
}


.btnWSTA2{
    text-align: center;
    width: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 10vh;
    justify-content: space-evenly;
    border-radius: 10px;
    background-color: rgba(5, 185, 5, 0.998);
    border: none;
    font-size:small;
    color: white;
    cursor: pointer;
}
.btnWSTA2:hover{
    background-color: green;
    border: 1.5px solid black ; 
}

.mtbService{
    display: none;
}

@media(max-width:850px){
    .infoServices{
        flex-direction: column;
        text-align:center;
        padding-bottom: 50px;
    }
    .textInfo h2{
        width: 100%;
        text-align: center;
    }
    .mtbServices{
        display: none;
    }
    .mtbService{
        display: block;
        width: 100%;
    }
    .services{
        display: flex;
        height: 1475px;
        width: 100%;
        text-align: center;
        flex-direction: column;
        justify-content: space-around;
        padding-top: 30px;
    }
    .services02{
        width: 100%;
        height: 3200px;
        gap: 20px;
    }
    .containerBoxServices{
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
    }
    .boxServices{
        width: 80%;
    }
    .boxServices02{
        width: 80%;
    }
    .contrate{
        text-align: center;
        gap: 20px;
    }
    .contentLottie{
        flex-direction: column;
    }
    .btnWSTA2{
        width: 80%;
    }
}