.container_map{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 80%;
}

.map{
  margin-top: 50px;
  margin-bottom:50px;
  height: 350px;
  display: flex;
  align-items: center;
  width: 100%;
}

.map iframe{
  width: 100%;
  height: 100%;
}